// Font
// ---------------------------------------------------------------------------
$NotoSerif :  'Noto Serif', 'Noto Serif JP',  sans-serif;

// Color
// ---------------------------------------------------------------------------
$gray: #808080;
$beige:#92794a;
$brown: #8a4f42;


* {
    img {
        width: 100%;
    }
}